HOST_PORT=11434
DATA_PATH=./data
# Create these on your machine and set these
UID=
GID=
# Ensure all other containers that need to communicate with Ollama are on this same network
NETWORK_NAME=ollama
