HOST_PORT=11434
DATA_PATH=./data
UID=<MY_OLLAMA_USER>
GID=<MY_OLLAMA_GROUP>
# Ensure all other containers that need to communicate with Ollama are on this same network
NETWORK_NAME=ollama
# Useful in case you have created a symbolic link to the docker-compose.yml and don't want to cp/mv the .env
ENV_FILE_PATH=.env
